.tabata-box-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  text-align: center;
}

@media screen and (min-width : 300px) and (max-width : 699px) {
  .timer-tabata-wod-name {
    margin-top: 55px !important;
    font-size: 80px !important;
  }
}


@media screen and (min-width : 700px) and (max-width : 1024px) {
}

@media screen and (min-width : 1025px) and (max-width : 1500px) {
  .timer-tabata-wod-name {
    margin-top: 35px !important;
    font-size: 100px !important;
  }
}

/*DEFAULT_DEVICES*/

.timer-tabata {
  width: 100%;
  height: 100%;
}

.timer-tabata-label {
  font-family: TimerFont;
  margin-top: 2px;
  font-size: 54px;
}

.timer-tabata-wod-name {
  margin-top: 35px;
  font-family: TimerFont;
  font-size: 160px;
}

